/* The map container */
.wpsl-gmap-wrap {
    position:relative;
}
#wpsl-gmap {
    float:left;
    width:66.5%; 
    height:350px;
}

.wpsl-store-below #wpsl-gmap {
    float:none;
    width:100%;
}

/* Map reset button */
#wpsl-reset-map {
    position:absolute; 
    right:15px; 
    top:15px; 
    padding:6px 14px; 
    background:#fff; 
    box-shadow:0 1px 2px rgba(64, 64, 64, 0.3);
    border-radius: 3px;
    z-index:3;
    display:none;
}
#wpsl-reset-map:hover {
    cursor: pointer;
}

#wpsl-reset-map.wpsl-right-controls {
    right:42px;
}

/* 
Some themes set a box-shadow or max-width for all image / 
div elements, we disable it to prevent it from messing up the map
*/
#wpsl-gmap div,
#wpsl-gmap img {
    box-shadow:none;
    max-width:none;
    background:none;
}

#wpsl-wrap {
    width:100%;
    overflow:hidden;
    clear:both;
    margin-bottom:20px;
}
#wpsl-search-wrap {
    float:left;
    width:100%;
}

/* Possible fix for vertical text issue in IE9? */
.gm-style-cc {
    word-wrap:normal;
}

#wpsl-search-wrap .wpsl-input,
#wpsl-search-wrap .wpsl-select-wrap {
    display:table;
}

#wpsl-search-wrap .wpsl-input label,
#wpsl-search-wrap .wpsl-input input,
#wpsl-search-wrap .wpsl-select-wrap #wpsl-radius,
#wpsl-search-wrap .wpsl-select-wrap #wpsl-results,
#wpsl-search-btn {
    display:table-cell;
}

#wpsl-search-wrap label {
    margin-bottom:0;
}
#wpsl-search-input {
    width:179px;
    padding: 7px 12px;
    font-size: 100%;
    margin:0;
/*    padding: 3% 12px;*/
}
#wpsl-search-wrap input,
#wpsl-search-btn {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

#wpsl-search-btn {
    padding: 7px 10px;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    text-transform: none !important;
}
#wpsl-search-input.wpsl-error {
    border:1px solid #bd0028 !important;
}
.wpsl-search {
    margin-bottom:12px;
    padding:12px 12px 0 12px;
    background:#f4f3f3;
}

/* Result list */
.wpsl-back {
    display:block;
}

#wpsl-result-list {
    float:left; 
    width:33%;
    margin-right:0.5%;
}
.wpsl-store-below #wpsl-result-list {
    float:none;
    width:100%;
    margin:12px 0 0 0;
}

#wpsl-stores, 
#wpsl-direction-details {
    height:350px;
    overflow-y:auto;
}
#wpsl-direction-details {display:none;}

#wpsl-result-list p {
    padding-left:10px;
}
.wpsl-store-below #wpsl-result-list p {
    padding-left: 0;
}

#wpsl-result-list p a {
    margin-bottom:10px;
}

#wpsl-result-list a {
    outline:none;
}

#wpsl-result-list li {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
    margin-left: 0;
    overflow: hidden;
    list-style: none outside none !important
}
.wpsl-store-below #wpsl-result-list li {
    padding: 10px 10px 10px 0;
}

#wpsl-result-list li p {
    padding-left:0;
    margin-bottom:20px;
}

.wpsl-store-details.wpsl-store-listing {
    position:relative;
    padding-right:20px;
}
.wpsl-store-details.wpsl-store-listing:before,
.wpsl-store-details.wpsl-store-listing.wpsl-active-details:before {
    position: absolute;
    content: '';
    bottom:6px;
    right:0;
    border-top: 5px solid #000000;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
}

.wpsl-store-details.wpsl-store-listing.wpsl-active-details:before {
    border-bottom: 5px solid #000000;
    border-top:none;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);   
}

#wpsl-stores .wpsl-store-thumb {
    float:right;
    border-radius:3px;
    margin:7px 0 0 10px;
    width:48px;
    height:48px;
    padding:0;
    border:none;
}
.wpsl-direction-index {
    float:left; 
    width:8%; 
    margin:0 5% 0 0;
}
.wpsl-direction-txt {
    float:left; 
    width:62%;
}
.wpsl-direction-distance {
    float:left; 
    width:20%; 
    margin:0 0 0 5%;
}
.wpsl-direction-txt span {
    display:block; 
    margin-top:10px;
}

.wpsl-street, 
.wpsl-country, 
.wpsl-directions {
    display:block;
    border-bottom:none !important;
}

/* Preloader */
#wpsl-result-list li.wpsl-preloader {
    border-bottom:none;
}
.wpsl-preloader img {
    float:left;
    box-shadow:none !important; 
    border:none !important;
}

.wpsl-preloader span {
    float:left;
    margin:-5px 0 0 11px;	
}

#wpsl-search-wrap div, 
#wpsl-search-btn {
    margin-right:10px;
    float:left;
}

#wpsl-search-wrap .wpsl-input label {
    margin-right:0;
}

#wpsl-radius, #wpsl-results {
    display:inline;
}

#wpsl-radius {margin-right:10px;}
#wpsl-search-btn:hover {
    cursor: pointer;
}

#wpsl-search-wrap select, 
#wpsl-search select {
    display:none;
}

#wpsl-search-wrap div label {
    float:left;
    margin-right:10px;
    line-height: 32px;
}

#wpsl-result-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wpsl-direction-details {
    display: none;
}

/* Infowindow */
#wpsl-gmap .wpsl-info-window {
    max-width:225px;
}

.wpsl-more-info-listings span,
.wpsl-info-window span {
    display:block;
}

/* More info details in the store listings */
.wpsl-more-info-listings {
    display:none;
}

/* Fix for Google Voice breaking the phone numbers */
.wpsl-info-window span span {
    display:inline !important;
}
.wpsl-info-window p {
    margin-bottom:10px;
}
.wpsl-store-hours {
    margin-top:10px;
}
.wpsl-store-hours strong {
    display:block;
}

.wpsl-info-actions {
    display:block;
    margin:10px 0;   
}
    .wpsl-info-actions a {
        float:left;
        margin-right: 7px;
    }

.wpsl-zoom-here {
    margin-right:0;
}

/* --- EASYDROPDOWN DEFAULT THEME --- */
.wpsl-dropdown,
.wpsl-dropdown div,
.wpsl-dropdown li,
.wpsl-dropdown div::after{
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.wpsl-dropdown .selected::after,
.wpsl-dropdown.scrollable div::after{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

/* WRAPPER */
.wpsl-dropdown {
    position: relative;
    width: 90px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-right: 0 !important;
}

.wpsl-no-results .wpsl-dropdown {
    width: 114px;
}

.wpsl-dropdown.open{
    z-index: 2;
}
#wpsl-search-input:hover,
.wpsl-dropdown:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}
wpsl-search-input.focus,
.wpsl-dropdown.focus{
    box-shadow: 0 0 5px rgba(51,102,248,.4);
}

/* CARAT */
.wpsl-dropdown .carat{
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -4px;
    border: 6px solid transparent;
    border-top: 8px solid #000;
}

.wpsl-dropdown.open .carat{
    margin-top: -10px;
    border-top: 6px solid transparent;
    border-bottom: 8px solid #000;
}

.wpsl-dropdown.disabled .carat{
    border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */
.wpsl-dropdown .old{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.wpsl-dropdown select{
    position: absolute;
    left: 0px;
    top: 0px;
}

.wpsl-dropdown.touch .old{
    width: 100%;
    height: 100%;
}

.wpsl-dropdown.touch select{
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

/*select.wpsl-dropdown {display:none;}*/
#wpsl-search-wrap .wpsl-dropdown div {
    margin-right: 0;
}
.wpsl-dropdown .selected,
.wpsl-dropdown li{
    display: block;
    line-height: 1;
    color: #000;
    padding: 9px 12px;
    overflow: hidden;
    white-space: nowrap;
}

.wpsl-dropdown.disabled .selected{
    color: #999;
}

.wpsl-dropdown .selected::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    border-radius: 0 2px 2px 0;
}

/* DROP DOWN WRAPPER */
.wpsl-dropdown div{
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    opacity: 0;
}

/* Height is adjusted by JS on open */

.wpsl-dropdown.open div{
    opacity: 1;
    z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.wpsl-dropdown.scrollable div::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #fff;
}

.wpsl-dropdown.scrollable.bottom div::after{
    opacity: 0;
}

/* DROP DOWN LIST */

.wpsl-dropdown ul{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding:0;
    margin:0;
}

.wpsl-dropdown.scrollable.open ul{
    overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */
#wpsl-wrap .wpsl-dropdown li{
    list-style: none;
    padding: 8px 12px !important;
    margin:0 !important;
}

/* .focus class is also added on hover */
.wpsl-dropdown li.focus{
    background: #f8f9f8;
    position: relative;
    z-index: 3;
    color: #000;
}

#wpsl-wrap .wpsl-dropdown li.active{
    font-weight: 700;
    background:none !important;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
} 

#wpsl-results .wpsl-dropdown {
    width:70px;
}

.wpsl-input, .wpsl-select-wrap {
    margin-bottom:10px;
}

/*  */

@media (max-width: 825px) {
    #wpsl-search-input {
        width: 348px;
    }
    
    #wpsl-search-wrap .wpsl-dropdown {
        width:114px;
    }
    
    #wpsl-search-wrap .wpsl-input {
        width: 100%;
        margin-bottom:10px;
    }
    
    .wpsl-no-results #wpsl-search-wrap .wpsl-input,
    .wpsl-no-results #wpsl-search-input,
    .wpsl-no-results .wpsl-input label, 
    .wpsl-no-results #wpsl-radius label {
        width: auto;
    }

    .wpsl-input label,
    #wpsl-radius label {
        min-width: 100px !important;
        width:auto;
    }
}

@media (max-width: 720px) {
    .wpsl-no-results .wpsl-dropdown {
        width: 100px;
    }
    
    #wpsl-search-wrap .wpsl-dropdown {
        width: 114px;
    }
    
    .wpsl-no-results #wpsl-search-input {
        width: 150px !important; 
    }
}

@media (max-width: 700px) {
    .wpsl-no-results #wpsl-search-input {
        width: 250px !important; 
    }
    
    .wpsl-no-results #wpsl-search-wrap .wpsl-input {
        margin-bottom:10px;
    }
}

@media (max-width: 675px) {
    #wpsl-search-wrap #wpsl-search-btn {
        float:left;
        margin:0 5px 0 0;
    }

    .wpsl-dropdown {
        width: 100%;
    }
    .wpsl-search {
        width: 96%;
        padding: 2%;
    }
    .wpsl-input {
        margin-right:0;
    }

    #wpsl-result-list,
    #wpsl-gmap {
        width:49.75%;
    }
    #wpsl-result-list,
    #wpsl-gmap {
        float:none;
        width:100%;
    }
    #wpsl-reset-map {
        top:25px;
    }
    #wpsl-gmap {
        margin-top:10px;
    } 
    
    .wpsl-no-results #wpsl-search-wrap .wpsl-input {
        width:100%;
    }
    .wpsl-no-results #wpsl-search-wrap .wpsl-dropdown {
        width: 201px;
    }
        
    .wpsl-input, .wpsl-select-wrap, #wpsl-search-btn {
        margin-bottom:0;
    }
}

@media (max-width: 570px) {
    #wpsl-search-wrap #wpsl-search-btn {
        margin-bottom: 5px;
    }
    #wpsl-search-input {
        width: 277px;
    }
    #wpsl-search-wrap #wpsl-search-btn {
        margin-top:15px;
    }
    
    .wpsl-no-results #wpsl-search-wrap #wpsl-search-btn {
        margin-top:0;
    }
}

@media (max-width: 520px) {
    .wpsl-search {
        width: 94%;
        padding: 3%;
    }
    #wpsl-search-input {
        width:91%;
    }
    #wpsl-search-wrap div, 
    #wpsl-search-btn {
        margin-right: 0;
    }

    #wpsl-search-wrap div label {
        display:block;
        width:100%;
    }
    
    .wpsl-no-results #wpsl-search-wrap div label {
        display:inline;
        width: auto;
    }
    .wpsl-no-results #wpsl-search-input,
    .wpsl-no-results #wpsl-radius, 
    #wpsl-results {
        width:auto;
    }
    
    .wpsl-select-wrap {
        width:100%;
    }
    
    #wpsl-radius, #wpsl-results {
        width:50%;
    }
    #wpsl-radius {
        margin-right: 4%;
    }
    #wpsl-search-wrap .wpsl-dropdown {
        width: 96%;
    }
    
    .wpsl-no-results #wpsl-search-wrap #wpsl-search-btn {
        margin-top:15px;
    }
    
    #wpsl-search-btn {
        clear: both;
    }
}

@media (max-width: 460px) {
    #wpsl-search-input {
        width:90%;
    }
    .wpsl-no-results #wpsl-search-wrap div label {
        display:block;
    }
    .wpsl-no-results #wpsl-search-wrap .wpsl-dropdown {
        width: 274px;
    }
}

@media (max-width: 375px) {
    #wpsl-search-input {
        width:auto !important;
    }
    .wpsl-no-results #wpsl-search-input {
        width:200px !important;
    }
    .wpsl-no-results #wpsl-search-wrap .wpsl-dropdown {
        width:223px !important;
    }    
}